<nav class="navbar   fixed-top  navbar-expand-lg  bg-white" color-on-scroll="100" id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="">
                Trần Ngọc Sơn - PS08499</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#/home" class=" nav-link">
                        <i class="material-icons">account_balance</i> Trang chủ
                    </a>
                </li>
                <li class="dropdown nav-item">
                    <a href="" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="material-icons">apps</i> Danh mục môn học
                    </a>

                    <div class="dropdown-menu dropdown-with-icons scrollable-menu ">
                        <div>
                            <a href="#/subjects" class="dropdown-item">
                                <i class="material-icons">layers</i><span>Tất cả môn học</span>
                            </a>
                        </div>
                        <div ng-repeat="show in Subjects">
                            <a href="#quiz" ng-click="showQuiz(show.Id,show.Name)" class="dropdown-item">
                                <i class="material-icons">layers</i><span>{{show.Name}}</span>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="dropdown nav-item">
                    <a href="" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="material-icons">view_day</i> Tài khoản
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a href="#login" class="dropdown-item">
                            <i class="material-icons">dns</i> Đăng nhập
                        </a>
                        <a href="#signup-page" class="dropdown-item">
                            <i class="material-icons">dns</i> Đăng kí
                        </a>
                        <a href="#info-user" class="dropdown-item">
                            <i class="material-icons">dns</i> Thông tin tài khoản
                        </a>
                    </div>
                </li>
                <li class="dropdown nav-item">
                    <a href="" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="material-icons">view_carousel</i> Trợ giúp
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a href="#contact" class="dropdown-item">
                            <i class="material-icons">account_balance</i>Liên hệ - Góp ý
                        </a>
                    </div>
                </li>
                <li ng-show="!Login()" class="button-container nav-item iframe-extern">
                    <a href="#login" class="btn  btn-rose btn-block">
                        <i class="material-icons">account_circle</i> Đăng nhập
                    </a>
                </li>
                <li ng-show="Login()" class="dropdown nav-item iframe-extern">
                    <a href="" class="btn  btn-rose btn-block" data-toggle="dropdown">
                        <i class="material-icons">account_circle</i> <span id="username"></span>
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a href="#info-user" class="dropdown-item">
                            <i class="material-icons">account_circle</i>Thông tin tài khoản
                        </a>
                        <a href="index.html" ng-click="Logout()" class="dropdown-item">
                            <i class="material-icons">account_balance</i>Đăng xuất
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script>
    window.onscroll = function () {
        myFunction()
    };
    var nav = document.getElementById("sectionsNav");
    nav.classList.add("navbar-transparent");

    function myFunction() {
        if (window.pageYOffset > 70) {

            nav.classList.remove("navbar-transparent");
        } else {

            nav.classList.add("navbar-transparent");
        }
    }
    
</script>