<div class="sidebar-collapse login-page">
  <div class="page-header header-filter"
    style="background-image: url('../assets/img/bg7.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
          <form class="form" method="" action="">
            <div class="card card-login card-hidden">
              <div class="card-header card-header-primary text-center">
                <h4 class="card-title">Đăng Nhập</h4>
                <div class="social-line">
                  <a href="" target="_blank" class="btn btn-just-icon btn-link btn-dribbble"><i
                      class="fab fa-facebook text-info"></i></a>
                  <a href="" target="_blank" class="btn btn-just-icon btn-link btn-twitter"><i
                      class="fab fa-twitter"></i></a>
                  <a href="" target="_blank" class="btn btn-just-icon btn-link btn-pinterest"><i
                      class="fab fa-instagram text-danger"></i></a>
                </div>
              </div>
              <div class="card-body ">
                <div class="text-center" ng-show="showMsg">
                  <p style="color: red;"> Sai tên tài khoản hoạc mật khẩu</p>
                </div>

                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">face</i>
                      </span>
                    </div>
                    <input type="text" class="form-control" ng-model="username" placeholder="User name...">
                  </div>
                </span>

                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="password" class="form-control" ng-model="password" placeholder="Password...">
                  </div>
                </span>

                <span class="bmd-form-group">
                  <div class="input-group text-center ml-5">

                    <a href="#forgot-pass" class="text-danger font-weight-bold">Quên mật khẩu ?</a>
                  </div>
                </span>
              </div>

              <div class="card-footer justify-content-center">
                <a ng-click="xmn()" class="btn btn-rose btn-link  btn-lg">Đăng Nhập</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>