<div class="page-header header-filter" data-parallax="true"
  style="background-image: url('../assets/logos/banner.jpg');" ng-init="init()">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h1 class="title" ng-bind="subjectName"></h1>
        <h4>Thực hiện các bài Quiz online của Trường FPT Polytechnic</h4>
        <br>

      </div>
    </div>
  </div>
</div>
<div class="main" style="position: relative;" id="main">
  <div class="container">

    <div class="row">
      <!-- open nav -->
      <div class="col-3  float-right" id="aside">
        <div class="col-md-12">
          <ul class="nav nav-pills nav-pills-icons flex-column">
            <li class="nav-item">
              <a class="nav-link text-danger rounded-pill border border-danger" href="" ng-click="setViewMode()">
                <i class="material-icons">dashboard</i>
                <strong>
                  <p ng-bind="view"></p>
                </strong>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-danger rounded-pill border border-danger" href="" ng-click="getAmount()">
                <i class="material-icons">dashboard</i>
                <strong>
                  <p> Kết thúc bài làm</p>
                </strong>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-danger rounded-pill border border-danger" href="" ng-click="resetTime()">
                <i class="material-icons">dashboard</i>
                <strong>
                  <p>Làm lại</p>
                </strong>
              </a>
            </li>
            <li class="nav-item ">
              <div class="nav-link text-danger rounded-pill border border-danger">
                <h2 style="font-weight: 800;">{{minutesTimerCount}} phút {{secondsTimerCount}}</h2>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- end nav -->
      <div class="section section-text col-9" id="quiz">
        <!-- Show quiz -->
        <div ng-repeat="quiz in quizs|limitTo:10:0">
          <div class="row" ng-show="showQuiz($index)">
            <div class="card card-login card-hidden">
              <div class="card-header bg-dark text-center">
                <h4 class="card-title m-2" value="{{quiz.Id}}">Câu {{$index+1}} / 10 . {{quiz.Text}}</h4>
              </div>
              <div class="card-body">
                <div class="form-check mb-4" ng-repeat="answer in quiz.Answers">
                  <label class="form-check-label text-dark">

                    <input class="form-check-input" type="radio" name="{{quiz.Id}}" value="{{answer.Id}}"
                      ng-model="quiz.useranser" ng-disabled="disabledInput"><strong>{{answer.Text}} &nbsp; &nbsp; &nbsp;
                      <i id="{{answer.Id}}"></i> </strong>
                    <span class="circle">
                      <span class="check"></span>

                    </span>


                  </label>

                </div>
              </div>
              <div class="card-footer bg-rose" ng-hide="viewMode">
                <ul class="pagination">
                  <li class="page-item">
                    <button ng-click="prev()" class="btn btn-social btn-fill btn-tumblr" ng-disabled="disabledprev">
                      prev</a>
                  </li>

                  <li class="page-item">
                    <button href="" ng-click="next()" class="btn btn-social btn-fill btn-tumblr"
                      ng-disabled="disablednext"> next </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- end media-post -->
      </div>
    </div>


    <style>
      .scrollable-menu {
        height: auto;
        max-height: 500px;
        overflow-x: hidden;
      }

      .sticky {
        position: fixed;
        top: 80px;
        right: 25px;
      }

      .aside-default {
        position: absolute;
        top: 10px;
        right: 25px;
      }

      .sticky-quiz {
        position: fixed;
        top: 80px;
        left: 25px;
      }
    </style>
    <script>
        var sessionUser = sessionStorage.getItem('user');
        if (sessionUser == null) {
          Swal.fire('Bạn cần phải đăng nhập trước').then(function () {
            window.location.assign("../index.html#/login");
          })
        }
      </script>
    <script>
        window.onscroll = function () {
          quizFunction();
          myFunction()
        };
        var quiz = document.getElementById("quiz");
        var main = document.getElementById("main");
        var header = document.getElementById("aside");
        var sticky = main.offsetTop;
        header.classList.add("aside-default");
        function quizFunction() {
          if (window.pageYOffset > sticky - 70) {
            header.classList.add("sticky");
            header.classList.remove("aside-default");
          } else {
            header.classList.remove("sticky");
            header.classList.add("aside-default");
  
          }
        }
        var nav = document.getElementById("sectionsNav");
    nav.classList.add("navbar-transparent");

    function myFunction() {
        if (window.pageYOffset > 70) {

            nav.classList.remove("navbar-transparent");
        } else {

            nav.classList.add("navbar-transparent");
        }
    }
      </script>
  </div>
</div>