<div class="login-page sidebar-collapse">

    <div class="page-header header-filter"
        style="background-image: url('../assets/img/bg7.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <div class="card card-signup">
                        <h2 class="card-title text-center">Đăng kí Thành Viên</h2>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-5 ml-auto">
                                    <div class="info info-horizontal">
                                        <div class="icon icon-rose">
                                            <i class="material-icons">timeline</i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Quiz</h4>
                                            <p class="description">
                                                Thực hiện các bài quiz để góp phần nâng cao kĩ năng và xử lí lỗi khi
                                                làm việc
                                            </p>
                                        </div>
                                    </div>
                                    <div class="info info-horizontal">
                                        <div class="icon icon-primary">
                                            <i class="material-icons">code</i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Đăng kí thành viên</h4>
                                            <p class="description">
                                                Phải là thành viên thì bạn mới có thể thực hiện được các bài quiz .
                                            </p>
                                        </div>
                                    </div>
                                    <div class="info info-horizontal">
                                        <div class="icon icon-info">
                                            <i class="material-icons">group</i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Join team </h4>
                                            <p class="description">
                                                Gia nhập với chúng tôi để giúp đỡ nhau trong quá trình làm việc và
                                                học tập.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 mr-auto mb-0">
                                        <div class="social-line text-center">
                                                <a href="" target="_blank" class="btn btn-just-icon btn-link btn-dribbble"><i
                                                    class="fab fa-facebook text-info"></i></a>
                                                <a href="" target="_blank" class="btn btn-just-icon btn-link btn-twitter"><i
                                                    class="fab fa-twitter"></i></a>
                                                <a href="" target="_blank" class="btn btn-just-icon btn-link btn-pinterest"><i
                                                    class="fab fa-instagram text-danger"></i></a>
                                              </div>
                                            <hr>
                                    <form class="form" name="register">
                                        <div class="form-group">
                                            <span class="text-danger text-center"
                                                ng-show="register.username.$error.required">Vui lòng không để trống
                                                tên tài khoản</span>
                                            <span class="input-group-text">
                                                <i class="material-icons">supervised_user_circle</i>&nbsp; &nbsp;
                                                &nbsp;<input type="text" ng-model="username" name="username"
                                                    class="form-control" placeholder="Tên đăng nhập" required
                                                    maxlength="25">
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <span class="text-danger text-center"
                                                ng-show="register.fullname.$error.required">Vui lòng không để trống
                                                họ và tên</span>
                                            <span class="input-group-text">
                                                <i class="material-icons">face</i> &nbsp; &nbsp; &nbsp;<input
                                                    type="text" ng-model="fullname" name="fullname" class="form-control"
                                                    placeholder="Họ và tên.." required> </span>
                                        </div>
                                        <div class="form-group">
                                            <span class="text-danger text-center"
                                                ng-show="register.email.$error.required">Vui lòng không để trống
                                                tên tài khoản</span>
                                            <span class="text-danger text-center"
                                                ng-show="register.email.$error.pattern">Sai định dạng Email</span>
                                            <span class="input-group-text">
                                                <i class="material-icons">mail</i>&nbsp; &nbsp; &nbsp; <input
                                                    type="text" class="form-control" ng-model="email" name="email"
                                                    placeholder="Địa chỉ email..."
                                                    ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"
                                                    required>
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <span class="text-danger text-center"
                                                ng-show="register.password.$error.required">Vui lòng không để trống
                                                tên mật khẩu</span>
                                            <span class="input-group-text">
                                                <i class="material-icons">lock_outline</i>&nbsp; &nbsp; &nbsp;
                                                &nbsp; <input type="password" ng-model="password" name="password"
                                                    placeholder="Password..." class="form-control" required />
                                            </span>



                                        </div>

                                        <div class="text-center">
                                            <button ng-click="a()" class="btn btn-primary btn-round"
                                                ng-disabled="!register.$valid">Đăng kí</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>