<div>
  <div class="page-header header-filter" data-parallax="true"
    style="background-image: url('../assets/logos/banner.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h1 class="title">Online Traning</h1>
          <h4>Thực hiện các bài Quiz online của Trường FPT Polytechnic</h4>
          <br>

        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="section section-text">
        <div class="row">
          <div class="col-md-12">
            <h2 class="title text-center">Thực Hành Làm Quiz</h2>
            <br>
            <div class="row">
              <div class="col-md-4" ng-repeat="show in Subjects" ng-click="Quiz()">
                <div class="card card-blog">
                  <div class="card-header card-header-image">
                      <a href="#quiz" ng-click="showQuiz(show.Id,show.Name)">
                      <img class="img img-raised" src="./assets/logos/{{show.Logo}}">
                    </a>
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">
                        <a href="#quiz" ng-click="showQuiz(show.Id,show.Name)">{{show.Name}}</a>
                    </h4>
                    <p class="card-description">
                      Nội dung bài làm quiz các môn hoc
                      <a href="#quiz" ng-click="showQuiz(show.Id,show.Name)"> Làm bài </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end media-post -->
    </div>
  </div>
</div>